.page-header {
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem;
  background-color: darkkhaki;
  align-content: center;
  text-align: center;
}

.header-main-paragraph {
  font-size: 24px;
}

.titulo {
  color: green;
  font-size: 40px;
}

.login-form {
  padding: 10px;
  font-size: small;
}

#username {
  background-color: bisque;
  padding: 0.5rem;
  margin: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.username-btn {
  border-radius: 5px;
  padding: 0.5rem;
  background-color: bisque;  
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.username-btn:hover {
  background-color: aquamarine;
}


